@charset "utf-8";

*{
margin: 0px;
padding: 0px;
}
:root{
--fonte1:@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
--font2: 'verdana'
--font3: 'arial'
}
html,body{
    text-align: center;
    margin: inherit;=
    border-radius: 50px;
    border-color: rgb(2, 2, 38);
    padding: 50px;
    padding-left: 30px;
    min-height: 10vh;
    background-color: rgb(67, 142, 207);
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header,h1{
  padding-top: 50px;
  font-variant: small-caps;  
  background-color: rgb(0, 0, 50);
  color: beige;
  border-radius: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header > p {
padding-bottom: 50px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
section{
 padding: 50px;
    line-height: 1em;
    padding-left: 30px;
    padding-inline-end: 0%;
    border-radius: 30px;
}
section.normal{
background-color: rgb(6, 6, 80);
color: aliceblue;
}
section.imagem{
    text-align: center;
    padding: 20px;
    border-bottom: 0cap;
    margin: auto;
background-color: rgb(4, 4, 59);
color: aliceblue;

}
section.imagem > p {
    background-color: black;
    width: 80px;
    border-width: 10px;
}
section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: center;
    background-size: cover;

}
section#img02{
    background-image: url(imagens/background002.jpg);


}
head a,footer a {
    color: rgb(229, 230, 232);
    text-decoration: none;
    font-weight: bolder;
}
header a:hover,footer a:hover{
    text-decoration: underline;
    color: rgb(25, 2, 69);
    background-color: antiquewhite;
}
footer{
    background-color: rgb(35, 1, 90);
    color: rgb(255, 221, 3);
    text-align: center;
    padding: 10px;
}
